<div>
  @for (color of colors; track color;let index = $index ;let first = $first ;
  let last = $last) {
  <ul>
    <li>
      {{ index + 1 }}.
      {{ first ? "I am first" : " " }}
      {{ last ? "I am last" : " " }}
      {{ color }}
    </li>
  </ul>
  }
</div>

<!-- <div
  *ngFor="
    let color of colors;
    let i = index;
    let first = first;
    let last = last
  "
>
   <span>
    {{ i }}. {{ first ? "I am first" : " " }} {{ last ? "I am last" : " " }}
    {{ color }}
  </span>
</div> -->

<div *ngFor="let color of colors; track: color; let i = index">
  <span>{{ color }}</span>
</div>
