<div class="calculator">
  <h2 class="calculator_title">Калькулятор</h2>
  <div class="calculator_container">
    <input type="number" class="calculator_input" [(ngModel)]="first" />
    <select class="calculator_select" [(ngModel)]="operation">
      <option *ngFor="let operation of operations" [value]="operation">
        {{ operation }}
      </option>
    </select>
    <input type="number" class="calculator_input" [(ngModel)]="second" />
  </div>
  <span class="calculator_result"
    >Результат: <span></span>{{ result ? result : "Нажмите расчитать" }}</span
  >
  <H3>История операции</H3>
  <ul>
    <li *ngFor="let item of history">{{ item }}</li>
  </ul>
  <button class="calculator_btn" (click)="calc()">Расчитать</button>
  <button class="calculator_btn" (click)="addVariable()">Add Variable</button>
  <div *ngFor="let variable of variables">
    <input
      class="calculator_input"
      type="number"
      [(ngModel)]="variable.value"
    />
    <select class="calculator_select" [(ngModel)]="operation">
      <option *ngFor="let operator of operationsX" [value]="operation">
        {{ operator }}
      </option>
    </select>
    <button class="calculator_btn" (click)="calculate()">calculate</button>

    <button class="calculator_btn" (click)="removeVariable()">Удалить</button>
  </div>
</div>
